<div class="container ChatContainer bg-black">

  <div class="chat-container container-fluid d-flex flex-column bg-black">
    <div #chatWindow class="chat-window overflow-auto p-3">
      <div *ngFor="let message of messages" class="chat-message" 
           [ngClass]="{'user-message': message.sender === 'User', 'chatbot-message': message.sender === 'Chatbot'}">
        <div class="message-content p-2 rounded">
          <span class="message-text">{{ message.text }}</span>
          <span class="message-timestamp d-block text-muted small text-right mt-1">{{ message.timestamp }}</span>
        </div>
      </div>
    </div>
    <div class="chat-input d-flex mt-2 bg-black">
      <input [(ngModel)]="newMessage" type="text" placeholder="Type your message here..." 
             (keydown.enter)="sendMessage()" class="form-control me-2">
      <button (click)="sendMessage()" class="btn btn-primary">Send</button>
    </div>
  </div>
</div>
